@use '../utils/' as *;

.cd-btn {

    background-color: var(--cd-theme-color);
    padding: 20px 45px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;

    &:hover {

        background: var(--cd-orange-color);
    }
}